.container-form{
    max-width: 800px;
    margin: 30px 10%;
}
.form{
    margin-bottom: 22px;
}
label{
    display: inline-block;
    margin-bottom: 8px;
}
label[for=kids]{
    display: none;
}
#kids{
    display: none;
}
textarea{
    resize: none!important;
}
